# Temporary files used by editors.
*~
*.swp
.#*
\#*

# Project files from IDEs.
.classpath
.project
.jde/
.idea/
*.iml

# Build and run artifacts.
target/
build/
logs/
pids/
out/
cmake-build-debug/
__pycache__/

# Other
.cache
venv/

covid_school_data.egg-info/top_level.txt
covid_school_data.egg-info/SOURCES.txt
covid_school_data.egg-info/requires.txt
covid_school_data.egg-info/PKG-INFO
covid_school_data.egg-info/dependency_links.txt
